*{

    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;

}



#logo{

    width: 80px;
    height: 70px;
    margin-top: 10px;
    margin-left: 80px;
}

.navbar{

    width: 100vw;
    height: 11vh;

    background-color: rgb(36, 13, 13);

    display: flex;
    justify-content: space-between;

    border-bottom: 0.1px solid #d3ad7f;

    align-items: center;
    position: fixed;

    top: 0px;
    right: 0px;
    left: 0px;

}

.navbar h1{

    color: white;
    margin-right: 1400px;

    
}

.NavElements{
   
   width: 75%;
   position: absolute;
   margin: 500px;
   
}

.NavElements a{

    color:white;
    text-decoration: none;
    margin: 10px;

}

.NavElements a:hover{

    color: #29d9d5;;
    text-decoration: underline;
}

.NavElements {

    border-radius: 3px;
}



.NavElements button{

    width: 150px;
    height: 70px;
    color: #29d9d5;
    border:2px solid  #29d9d5;
    background-color: rgb(36, 13, 13);
    border-radius: 25px;
    font-size: 15px;

    margin-left: 240px;
}

.NavElements button:hover{

    background-color: #29d9d5;
    color: white;
}

/* ------------------------------------ Main --------------------------------------------- */

.main{

    width: 1100px;
    height: 100px;
    background-color: #e5d6c3;
    margin: 40px auto;
    margin-top: 100px;

    
}

.main h1{

    padding: 10px;
    color: rgb(21, 21, 185);

}

.main p{

    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

#images{

    display: grid;
    column-gap: 1rem;
    grid-template-columns: auto auto auto;
    align-items: center;
    border-radius: 13px;
}


#images img{

    height: 250px;
    width: 350px;
    padding-left: 15%;
    border-radius: 8px;
    
}


#bottom{

    background-image: url(https://images.unsplash.com/photo-1544961371-516024f8e267?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8bmF0dXJlJTIwaW1hZ2VzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60);

    background-repeat: no-repeat;

    height: 250px;
    width: 100vw;
    background-size: cover;
}


#bottom h1{

    text-align: center;
    padding: 10px;
    color: #29d9d5;
}

#bottom #head{

    color: white;
    text-align: center;
    margin: 10px;
    font-size: 2.5rem;
}

#bottom #para{

    color: white;
    text-align: center;
    margin: 10px;
    font-size: 1.5rem;
}


#bottom button{

    width: 150px;
    height: 70px;
    color: #29d9d5;
    border:2px solid  #29d9d5;
    background-color: rgb(36, 13, 13);
    border-radius: 25px;
    font-size: 15px;

    margin-left: 700px;
}

#bottom button:hover{

    background-color: #29d9d5;
    color: white;
}



/* ----------------------------------- footer ----------------------------------- */

.footer{

    background-color: #13131a;

}

.footer h1:nth-of-type(1){

    font-size: 2rem;
    color: white;
    margin-left: 100px;
    padding: 8px;
    display: inline-block;

}

.footer h1:nth-of-type(2){

    font-size: 2rem;
    color: white;
    display: inline-block;
    margin-left: 300px;
    
}


.footer h1:nth-of-type(3){

    font-size: 2rem;
    color: white;
    display: inline-block;
    margin-left: 500px;
    

}

.footer p{

    color: white;
    letter-spacing: 1px;
    margin: 10px;

}

.share{
    
    display: flex;
    justify-content: flex-start;
    height: 320px;
    margin-top: 30px;
    

}

.share img{

    background-color: #CCCCCC;
    border: 2px solid #29d9d5;
    border-radius: 50%;
    width: 60px;
    margin-top: 50px;
    margin-left: 20px;
}

.share .facebook:hover{

    background-color: #4267B2;
}


.share .linkedin:hover{

    background-color: #0077B5;
}


.share .twitter:hover{

    background-color: #1DA1F2;
}

.share .instagram:hover{

    background-color: pink;
}


.share .pinterest:hover{

    background-color: #E60023;
}








